name: build-ffmpeg-gfxcapture-windows

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Setup MSVC dev cmd
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Setup NASM
        uses: ilammy/setup-nasm@v1

      - name: Install other deps
        shell: powershell
        run: |
          choco install -y strawberryperl
          choco install -y make
          choco install -y pkgconfiglite 
          choco install -y gawk
      - name: Configure & Build (bash)
        shell: bash
        run: |
          set -euxo pipefail
          which gawk
          ln -sf "$(which gawk)" /usr/bin/awk
          nasm -v
          mkdir -p build
          ./configure \
            --toolchain=msvc \
            --arch=x86_64 \
            --target-os=win64 \
            --enable-d3d11va \
            --enable-optimizations \
            --disable-debug \
            --enable-static \
            --disable-shared \
            --prefix="$(pwd)/build"
          make -j"$(nproc || echo $NUMBER_OF_PROCESSORS)"
      - name: Collect artifacts
        shell: bash
        run: |
          mkdir -p out
          cp "$FFMPEG_SRC_DIR/$BUILD_DIR/ffmpeg.exe"  out/
          cp "$FFMPEG_SRC_DIR/$BUILD_DIR/ffprobe.exe" out/ 
          cp "$FFMPEG_SRC_DIR/$BUILD_DIR/ffplay.exe" out/ 
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg-gfxcapture-win64
          path: out
