name: build-ffmpeg-gfxcapture-windows

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Setup MSVC dev cmd
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Setup NASM
        uses: ilammy/setup-nasm@v1

      - name: Install other deps
        shell: powershell
        run: |
          choco install -y strawberryperl
          choco install -y make
      - name: Install pkg-config
        uses: msys2/setup-msys2@v2
        with:
          install: mingw-w64-x86_64-pkg-config
          update: true
      - name: Fetch FFmpeg
        shell: bash
        run: |
          git clone --depth=1 https://github.com/FFmpeg/FFmpeg.git ffmpeg

      - name: Configure & Build (bash)
        shell: bash
        run: |
          set -euxo pipefail
          nasm -v
          cd ffmpeg
          mkdir -p build && cd build
          ../configure \
            --toolchain=msvc \
            --arch=x86_64 \
            --target-os=win64 \
            --enable-d3d11va \
            --enable-optimizations \
            --disable-debug \
            --enable-static \
            --disable-shared
          make -j"$(nproc || echo $NUMBER_OF_PROCESSORS)"
